* {
  margin: 0;
  padding: 0;
  background-color: #3d3d3d;
  font-family: 'Segoe UI Variable Static Display', sans-serif;
  font-family: 'Segoe UI Variable Static Small', sans-serif;
  font-family: 'Segoe UI Variable Static Text', sans-serif;
}
